
<div style="display: flex; justify-content: center; align-items: center; min-height: 100%;">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" style="display: flex; flex-direction: column; width: 100%; max-width: 400px;">
    <div *ngIf="loading" 
         style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255,255,255,0.7); z-index: 2; display: flex; justify-content: center; align-items: center;">
      <mat-progress-spinner mode="indeterminate" diameter="32"></mat-progress-spinner>
    </div>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" placeholder="Enter your email">
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" placeholder="Enter your password">
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 6
      characters</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
  <div style="text-align: center;">Or</div>
  <div style="display: flex; justify-content: center;">
    <asl-google-signin-button type='standard' click_listener="logged()" size='medium'></asl-google-signin-button>
  </div>
</form>
</div>